[submodule "elisp/smex"]
	path = elisp/smex
	url = git://github.com/nonsequitur/smex.git
[submodule "elisp/smart-tab"]
	path = elisp/smart-tab
	url = git@github.com:dhax/smart-tab.git
[submodule "elisp/anything-config"]
	path = elisp/anything-config
	url = ssh://repo.or.cz/srv/git/anything-config.git
[submodule "elisp/eproject"]
	path = elisp/eproject
	url = git://github.com/jrockway/eproject.git
[submodule "elisp/etest"]
	path = elisp/etest
	url = git://github.com/philjackson/etest.git
[submodule "elisp/egg"]
	path = elisp/egg
	url = git://github.com/bogolisk/egg.git
